@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@layer components {
  .max-container {
    max-width: 1120px;
    margin: 0 auto;
  }
}

@layer base {
  p {
    @apply text-[0.83rem];
  }

  h1 {
    @apply text-[30px];
  }

  h2 {
    @apply text-[24px] mb-2;
  }

  h3 {
    @apply font-semibold text-[20px];
  }
}
